fastapi
uvicorn
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
langchain
langchain-community
transformers
torch
sentencepiece  
regex
dateparser
streamlit
requests
pydantic
python-dotenv
